[Desktop Entry]
Type=Application
Name=Stylus Session
Exec=/usr/local/bin/stylus-kde-setup
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after-desktop=true
