[Desktop Entry]
Type=Application
Name=Stylus KDE
Exec=/usr/local/bin/stylus-kde-shortcuts
Hidden=false
NoDisplay=true
X-KDE-autostart-after-desktop=true
OnlyShowIn=KDE;
