[Desktop Entry]
Type=Application
Name=Toca-discos
GenericName=O disco na tela
Comment=O disco girando, com agulha, lado e tempo
Exec=stylus-deck --view
Icon=stylus
Terminal=false
StartupNotify=true
Categories=AudioVideo;Audio;Player;
Keywords=disco;vinil;agulha;tocando;lado;
