[Desktop Entry]
Name=Stylus Phone
Comment=Sync music with your phone
Exec=/usr/local/bin/stylus-phone status
Icon=phone
Terminal=false
Type=Application
Categories=Audio;Music;
