[Desktop Entry]
Type=Application
Name=Estante
GenericName=A coleção
Comment=Procura um disco na coleção e põe para tocar
Exec=stylus-shelf
Icon=stylus
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;Player;
Keywords=estante;disco;album;álbum;coleção;procurar;tocar;
