[Unit]
Description=Stylus last.fm scrobbler
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/stylus-scrobble
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target
